/*----------FORM------------*/
input:focus{
    font-family: 'Kanit', sans-serif;
}
.form{
    display: none;
    z-index: 100000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 500px;
    border-radius: 20px;
    background-color: #333;
    border: 2px solid #065816;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.button-box{
    width: 220px;
	margin:20px auto;
	position: relative;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	border-radius: 30px;
    border: 1px solid #7b9f2f;
}
.toogle-btn{
    padding: 15px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
    color: #fff;
}
#btn-box{
    top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(51deg, rgba(36,40,38,1) 19%, rgba(31,80,10,1) 44%, rgba(90,198,74,1) 73%, rgba(110,237,125,1) 93%);
	border-radius: 30px;
	transition: all .5s linear;
}
.input-group{
    width: 100%;
    position: absolute;
    height: 100%;
    transition: 0.5s ease-in-out;
}
.form_user-box{
    position: relative;
    padding: 10px;
}
.c2{
    width: 90%;
    position: relative;
}
.c3{
    width: 90%;
    position: relative;
    margin-top: 40px;
}
.form_user-input{
    width: 95%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 12px;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: #222;
    border: 1px solid #065816;
    border-radius: 50px;
}
.password{
    position: absolute;
    width: 80%;
}
.form .form_user-box span{
    display: flex;
    align-items: center;
}
.form .form_user-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 20px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.form .form_user-box input:focus ~ label,
.form .form_user-box input:valid ~ label{
    top: -25px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
.eyes{
    position: absolute;
    align-items: center;
    right: 0;
    width: 10%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
}
.eyeHandle{
    display: none;
}
.help{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    font-size: 12px;
}
.help a{
    color: #c10b30;
}
.social-icons{
    margin: 20px auto;
    text-align: center;
}
.social-icons img{
    width: 50px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
/*---------SUBMIT BUTTON------------*/
.panel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit_btn{
    width: 120px;
    height: 50px;
    max-width: 120px;
    max-height: 50px;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    border-style: none;
    transition: all 0.3s linear;
    transform: scale(0.9);
    color: #fff;
    font-size: 16px;
    font-weight: 500px;
    background: linear-gradient(86deg, rgba(55,93,25,0.9360119047619048) 19%, rgba(158,158,56,1) 46%, rgba(155,237,105,0.938813025210084) 72%, rgba(147,195,119,0.9220063025210083) 88%);
}
.submit_btn:hover{
    transform: scale(1);
}